# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 1.8

      # - name: Detekt
      #   continue-on-error: true
      #   run: |
      #     java \
      #       -jar detekt/detekt-cli-1.15.0-RC2-all.jar \
      #       --plugins detekt/detekt-report-sarif-1.15.0-RC2.jar \
      #       --input . --report sarif:detekt.sarif.json
      - name: Detekt
        continue-on-error: true
        uses: swinton/action-detekt-all@master
        with:
          args: --input . --report sarif:detekt.sarif.json

      - name: Debug
        continue-on-error: true
        run: |
          echo github.workspace is "${{ github.workspace }}"
          ls ${{ github.workspace }}/detekt.sarif.json

      - name: Expose SARIF
        uses: actions/upload-artifact@v2
        with:
          name: SARIF
          path: detekt.sarif.json

        # Uploads results.sarif to GitHub repository using the upload-sarif action
      - uses: github/codeql-action/upload-sarif@v1
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: detekt.sarif.json
          checkout_path: ${{ github.workspace }}
